
.bestsellers{
	position: relative;
margin-top: 1%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;

	display: flex;
	justify-content: center;	
	text-align: left;
	
}
.bestsellers a{
	color: #436d81;
	font-size:  40px;
}
.bestSellProduct{
	position: relative;	
	display: inline-block;
	padding: 1%;
	margin: 1%;
	width:18%;
	margin-bottom: 2%;
}
.tag-popular-ru{
	position: absolute;
}
.bestSellProduct a img{
	width: 100%;
	height: 150px;
}
.description  {
	font-size: 14px !important;
	text-decoration:none;
}

.sectionHeader{
	position: relative;
}
.sectionHeader>h1>a, {
color:#436d81;
}
.productAge{
	font-size: 12px;

}
.price{
	font-size: 24px;
	color: black;

}
.price, .productAge{
	text-align: center;
	padding: 5px;
	margin-bottom: 30px;
}
.buy{
position: absolute;	
bottom: 0;
	margin-top:10%;
	margin-left: 30%;
	border: none;
	padding: 10px 17px 10px 17px;
border-radius: 15px;
color:white;
background: orange;
}
.switcher1, .switcher2{
	width: 55px;
	height: 55px;
	/*border-top: none;*/
	border-left:  10px solid aqua;
	border-top: 10px solid aqua;
	position: absolute;
	
}
.switcher2{
transform: rotate(135deg);
margin-left: 88%;
margin-top: 15%;
}
.switcher1{
transform: rotate(-45deg);
margin-left: 6%;
margin-top: 15%;
}
.popularGoods{
	background: url("img's/bg.jpg");
	
	width: 100%;
	border-top: 10px solid lightgray;
	
}

	
.popular{
	text-align: center;
	position: relative;
	background: white;
padding: 2%;
	margin: 1%;
	border-radius: 20px;
	width:18%;
	/*height: 200px;*/
}
.popularGoods2{
	width: 80%;
	position: relative;
	margin-top: 1%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 11%;
}
.popular img{
	margin-top: 15px;
	width: 100%;
}
.sectionHeader>h1>a, .popularGoods>h1>a, h1>a{
    font-size: 30px;
    text-decoration: none;
	margin-left: 10%;
	color:#4f4949;
}
.news{
	position: relative;
	width: 80%;
	background: #edecdb;
	margin-left: 10%;
	border-radius: 20px;
}
.news h1{
	margin-left: -10%;
}
.news section{
	display: flex;
	justify-content: space-around;

}
.newsArticle p:first-child{
	font-size: 10px;
}
.newsArticle{
	width: 32%;
	padding: 10px;
}

.newsArticle a{
	text-decoration: none;
	color:#4f4949;

}