.extra{
	position: relative;	
	display: flex;
	width: 80%;
	margin-left: 10%;
	    font-size: 20px;
	    height: 290px;
	    color:#FFF;
}
.background{
	background:#1b76bc;
	margin-top: 5%;
}
.extra>div>p:nth-child(2){
	    font-size: 12px;
    color: #b6cfe2;
        padding: 10px 0;
}
.extra>div>p{
	padding: 10px 0 10px 0;
}    
.extra span{
	font-size: 12px;
	color: #b6cfe2;
  }
  .extra a{
  	opacity: 0.3;
  	display: inline-block;
  	width: 50%;
  }
  .extra a:hover{
  	opacity: 1;
  }
  .subscribe{
  	position: absolute;
  	margin: 150px 10px 10px 330px;

  }
.subscribe input{
	padding: 5px;
	margin-top: 10px;
border: 1px solid #ccc;
border-radius: 2px;
height: 25px;	
box-shadow:  inset 0 1px 1px rgba(0,0,0,0.075);
}
.subscribe input[type="submit"]{
border: none;
text-align: center;
padding: 17px 17px 27px 17px;
border-radius: 15px;
color:white;
background: orange;
margin-left: 28%;
}
footer{

	background: #8dc462;	;
}
footer div{
	width: 80%;
	margin-left: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer a{
	text-decoration: none;
	    color: #cbeeaf;
    font-size: 14px;
}
footer a{margin-right: 10px;

}
.end{
	
    font-size: 12px;
    padding: 20px 0 30px 0;
}