.chooseToy{
	width: 80%;
	margin-left: 10%;
	 display: flex;
}
.chooseToy form{
	height: 100%;
	width: 20%; 
	 font-size: 13px;
    background: #f4f2cd;
    padding: 25px;
    margin-top: 20px;
    border: 1px solid #f4f2cd;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.toySection{
	width: 80%;
	padding: 20px;
	

}
.chooseToy form form{
	width: 100%;
	padding: 0;
	box-shadow: none;
}
.chooseToy form form output{
	float: right;

}
.chooseToy form p{
	padding: 5px;
}
.toySection #cheaperOrNot a{
text-decoration: none;
color: darkred;
	width: 100%;
}
.toyList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
/** {box-sizing: border-box;}*/
}
.product-item {
	/*height: 0px*/
  width: 20%;
  margin: 20px 0 0 0;
  padding: 10px 10px 5px 10px;
  border: 1px solid #eee;
  background: white;
  font-family: "Open Sans";
  /*overflow: hidden;*/
  transition: .4s linear;
}
.product-img {transition: 1s ease-in-out;}
.product-img:hover {transform: scale(1.1);}
.product-img img {
  display: block;
  width:100%;
  height: 100px;
}
.product-list {margin-top: 15px;}
.product-list h3 {
  font-weight: 700;
  color: #39404B;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
}
.price {
  color: #E34D38;
  display: block;
/*  margin-bottom: 12px;*/
}
.stars {
  direction: rtl;
}




.actions {
  border-top: 1px solid #eee;
  padding-top: 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
/*.actions:after {
  content: "";
  display: table;
  clear: both;
}*/
.add-to-cart, .add-to-links {float: left;}
.cart-button {
  text-decoration: none;
border: none;
padding: 10px 17px 10px 17px;
border-radius: 15px;
color:white;
background: orange;
  transition: .4s linear;
}
rgin-right: 10px;
}
.add-to-cart:hover .cart-button, .wishlist:hover, .compare:hover {color: #E34D38;}
.wishlist, .compare {
  color: #8C877C;
  padding-left: 20px;
  transition: .4s linear;
}
.wishlist:after, .compare:after {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 13px;
}
.registration{
	display: none;
	width: 30%;
	height: 30%;
	background:white;
	border: 10px solid lightgray;
	border-radius: 20px;
	position: fixed;
	right: 33%;
	top: 30%;
	padding: 20px;
	
}

.shadow{
	display: none;
	right: 0%;
	top: 0%;
	position: fixed;
	width: 100%;
	height:100%;
	background: black;
	opacity: 0.7;
}
.registration h1{
	font-size: 24px;
	    color: #588499;
	padding: 10px;
}
.registration p
{
	padding: 3px;
}
.registration [type="submit"]
{border: none;
padding: 10px 53px 10px 53px;
border-radius: 15px;
color:white;
background: orange;}
#close{
	position: absolute;
	right: 1%;
	top:1%;	
}
