* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

header a {

    text-decoration: none;
    color: white;d
}

a:hover {
    text-decoration: underline;
}

header {
    background: url("img's/toys.jpg");
    border-bottom: 10px solid lightgray;
}

.mainHeader {

    width: 80%;
    margin-left: 10%;
}

.navBar {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(67, 129, 222);
}

.navBar nav {
    width:100%;
    display: flex;
    padding-left: 10%;
    margin-left: 16%;
    align-items: center;
}


.navBar img {
    height: 2em;
    width: 2em;
    /*width: 25%;*/
}

.navBar nav a {

    margin-left: 5%;
}


/*Телефон*/

.menu {

    font-size: 1em;
    color: white;
    width: 30%;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

ul.menu>li {
    cursor: help;
    width: 100%;
    display: flex;
    /*flex-wrap: nowrap;*/
    color: white;
}

ul.menu>li>:hover {
    color: white;
}

ul.submenu {
    display: none;
    position: absolute;
    /*width: 64%;*/
    color: white;
}

ul.submenu>li {

    padding: 1em;
    display: block;
}

ul.submenu>li> {
    display: block;
}

ul>li:hover>ul.submenu {
    display: block;
    background: rgba(67, 129, 222, 0.9);
    border-radius: 5px;
}

ul.submenu>li>:hover {
    color: white;
    background: #607788;
    display: block;
}


/*MAIN HEADER___________________________________*/

.mainLogo {
    position: absolute;
    left: 3em;
    top: 1em;
    margin-right: 60%;
    display: inline-block;
    width: 20%;
}

.mainLogo img {
    width: 100%;
}


/*Все элементы на фоне*/

.mainHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*Цвета ссылок*/

.logIn a,
.mainNavigation {
    color: #4381de;
    font-size: 1.2em;
}

.logIn {
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 10px;
    border-spacing: 20px 7px;
    width: 80%;
    margin-top: 2%;
}

.logIn tr:nth-child(1) td {
    background-color: rgba(189, 181, 179, 0.3);
    border-radius: 10px;
}

.logIn tr:nth-child(1) td:last-child {
    border-left: 2px solid gray;
}

.logIn td {
    height: 1.5em;
    width: 50%;
    text-align: center;

    border-radius: 10px;
}


/*Корзина*/

.basket tr:nth-child(1) th {
    color: #ed841a;
    font-size: 1.1em;
}

.logIn img {
    width: 60px;
}
/*Поле поиска*/
[type="search"] {
    padding: 5px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
}



.search{
	position: relative;
}
.search input[type="submit"] {
    width: 22px;
    height: 22px;
    margin-top: -22px;
    margin-left: 43%;
    position: absolute;
    border: none;
    background: url("img's/search.png") no-repeat;
    background-size: contain;
}
/*ОКНО ГЛАВНОЙ НАВИГАЦИИ*/
.mainNavigation {
    border-radius: 3px;
    font-size: 16px;
    height: 45px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    /*flex-wrap: nowrap;	*/
    /*align-content: stretch;*/
    width: 80%;
    background: white;
}

.mainMenu>li:hover {
    background: #4381de;
    color: white;
}

.mainMenu>li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    box-sizing: content-box;
    border-radius: 5px;
    cursor: help;
}


/* Выпадающий список глановго меню*/
ul.mainSubmenu a{
	color: #2f5669;
}
ul.mainSubmenu>li>a{
    background: lightgray;
}
ul.mainSubmenu {
    display: none;
    position: absolute;
    /*margin-top: 1%;*/
    margin-left: -4% ;
    width: 63.2%;
    border: solid 5px #4381de;
z-index: 1;

    color: #2f5669;
}
ul.mainMenu{
    /*display: flex;*/

}

ul.mainSubmenu>li {
	
    padding-left: 1em;
    display: block;
}

ul>li:hover>ul.mainSubmenu {
    display: block;
    /*background: rgba(67, 129, 222, 0.9);*/
    background: linear-gradient(45deg, #feffff 0%, #feffff 34%, #d2ebf9 100%);
    border-radius: 5px;
}

ul.mainSubmenu>li>:hover {

   
    display: block;
}

.mainSubmenu li:hover {
    text-decoration: underline;
}