.order{
	width: 80%;
	margin-left: 10%;
	display: flex;
	justify-content: space-between;

}
.headers h1{
	margin-top: 15px;
	    color: #436d81;
    font-weight: normal;
    font-size: 40px;
  
    text-align: center;
}	
/*.order2{
	
    margin: 0 0 20px 0;
    padding: 15px;
    font-size: 18px;
}*/
.order2>form>div{
	background: #ccff99;
    border-radius: 5px;
     margin: 0 0 20px 0;
    padding: 15px;
    font-size: 18px;
}
.order1 input, .order2 textarea{
		
	width: 100%;	
	padding: 3px;
	border-radius: 5px;
	border: 3px solid black;
}
input{
	height: 25px;
}
form label{
	 font-size: 18px;
	 color: #436d81;
}
.order select{
	height: 25px;
	padding: 1px;
	border-radius: 5px;
	border: 3px solid black;
	width: 100%
}
.order2{
	margin-left: 10%;
	width: 40%;
}
#recall{
	height: 15px;
	width: 30px;
	margin: 0;
	padding: 0;
}
.order2 input[type="submit"], .inBasket .promo input[type="submit"]{
float: right;
width: 50%;
border: none;
padding: 5px 10px 10px 10px;
border-radius: 3px;
text-align: center;
color:white;
background: orange;
}
.headers{
	margin: 10px;
	display: flex;
	justify-content: space-around;
}
.inBasket{
	position: relative;
	height: 40%;
	width: 40%;


}
.currentItem  img{
		height: 30%;
	width: 30%;
	display: inline-block;
}
.currentItem{
	position: relative;
	  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.currentItem p{
	line-height: 18px;
	margin-bottom: 50%;
	padding: 10px;
	margin-bottom: 5px;	
	text-align: center;
}
.currentItem  a{
	text-decoration: none;
	color: #436d81;
	font-size: 25px;
}
.priceCurrent{
	position: absolute;
	right: 20%;
	top: 50%;
}
.removeBasket{
	position: absolute;
	right: 0;
	top: 20%;
	border-radius: 5px;
	border: none;
	color: black;
	background: white;
	text-decoration: underline;
	cursor: pointer;
}
.inBasket table {
	width: 100%;
	margin: 20px

	
}
.inBasket table tr td{
	font-size: 15px;
	line-height: 36px;
	padding: 10px;
	text-align: left;
	border-bottom: dotted;
	
}
.inBasket table tr:last-child td{
	text-align: center;
font-size: 18px;
	color:#588499;
}
.inBasket table tr:nth-child(2) td{
	font-size: 24px;
}
.inBasket h1{
margin-top: 10px;
font-size: 28px;
	color:#588499;
}
.promo{
	    border: 3px solid #63c0ec;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
	background:#fffe99;;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.inBasket .promo input[type="text"] {
	width: 60%;
	margin: 0;
 
}
.inBasket .promo input[type="submit"] {
	width: 30%;
	float: right;
	
	height: 35px;
	/*margin-left: 5px;	*/
 
}

