.productName{
	    color: #436d81;
    font-weight: normal;
    font-size: 40px;
    margin: 0.6em 0 0.5em 0;
    margin-left: 20%;
}
.productName+p{
	color:orange;
	margin-left: 20%;
}
.productPage{
	display: flex;
	flex-wrap: wrap;
}
.sliderCheckbox img{
	width: 60%;
}
.sliderCheckbox{
	width: 40%;
	margin-left: 8%;
}
.div{
	display: flex;
	position: relative;
	width: 40%;
	font-size: 40px;
	line-height: 30px;
	    background: #edecdb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    height: 200px;
}
.div p,.div button{
	margin: 20% 0 0 20%;
}
.div button{
	width: 30%;	
	color: white;
	background:orange;
	border-radius: 5px;
height: 14%;
border:none;
}
.div .hit{
	position: absolute;
background: red;
width: 100%;
text-align: center;
top: -120px;
border-radius: 5px;
left: -20%;
color: white;
overflow: hidden;
}
.div+p{
	margin-left: 60%;
	text-align: center;
font-size: 18px;
	color:#588499;
}
.descrip p{

	margin: 5px;
	padding: 5px;
}
.descrip {
	margin-left: 60%;
}
.picture{
	position: absolute;
	top: 70%;
	left: -10%;
	width: 40%;
}
.descrip h2{
	color: #436d81;
    font-weight: normal;
    font-size: 40px;
}