.choose{
	margin:20px;
	text-align: left;
	padding: 20px;
	background: rgba(204, 191, 159, 0.2);
	border-radius: 10px;
	color: #7698a9;
	font-size: 1em;
}
.choose input[type="range"]{
width: 60%;

}
.choose input[type="submit"]{

margin-left: 35%;
margin-top: 10%;
border: none;
padding: 10px 17px 10px 17px;
border-radius: 15px;
color:white;
background: orange;
}
.choose label{

color:#585858;
}
.choose input{
	margin-left: 14%;
}
.choose h2{
	padding-bottom: 20px;
}
.slider{
	width: 80%;	
	position: relative;
	background: white;
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: center;
	border-radius: 50px;
}
#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
    width: 70%;
    border-radius: 50px;
    /*margin-left: 500px;	*/
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 120%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
	border-radius: 40px;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 500px; /*максимальнная длинна*/
}


.slider label{
	margin-bottom: 10px;
}

#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}


.sliderCheckbox input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}



#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
	margin-top: -20px;
}
#active label:nth-child(1){
	margin-left: 30%;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4)
{
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}